# gitで管理しないファイル

# Pythonバイナリ
__pycache__/
*.pyc
# DB
*.sqlite3
*.db
# 一括置換時などによるバックアップ
*.BAK
# アーカイブ
*.tar.bz2
*.tar.gz
*.zip
*.7z
# 自前リビジョン（GUIファイラのコピー時デフォルト名(LinuxMint17.3)）
コピー ～ *
コピー (*
* (コピー).*
* (別のコピー).*
* (*番目のコピー).*
# 自前リビジョン
old/
# vimスワップファイル
*.swp
# 公開したくないファイル
#meta_*
